@charset "UTF-8";
@import url(fonts/font-awesome.min.css);
#background
{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-image:url(unsplash-big.jpg);
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
}
#container
{
	color:#fff;
	width:80%;
	left:10%;
	bottom:30px;
	position:absolute;
}
.numbox
{
	float:left;
	width: 25%;
	text-align:center;
}
.numcircle
{
	/*background-color:rgba(0, 0, 0, 0.3);
	border-radius: 100%;*/
	z-index: 3;
	margin-right:40px;
	margin-left:40px;
}
.numcircle p
{
	font-size:8pt;
	position: relative;
	bottom:30px;
}

.numcircle h1
{
	font-family:times; 
	font-weight:300; 
	font-size:70pt;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	position: relative;
	top:40px;
	bottom:0px;
}

	@media screen and (max-width: 736px) {
		.numcircle
		{
			margin-right:1px;
			margin-left:1px;
		}
		.numcircle p
		{
			font-size:8pt;
			position: relative;
			bottom:0px;
		}

		.numcircle h1
		{
			font-family:times; 
			font-weight:300; 
			font-size:30pt;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
			position: relative;
			top:30px;
			bottom:0px;
		}
	}

#banner {
	text-align: center;
	color:#fff;
}
#banner h1 {
	font-size: 7em;
	opacity: 1;
	margin-bottom: -60px;
	font-weight: 400;
	z-index: 9;
	font-family: "Times";
}

#banner h2 {
	display: inline-block;
	font-size: 2.68em;
	opacity: 1;
	position: relative;
	z-index: 9;
	font-weight: 300;
	font-family: "Times New Roman";
	letter-spacing: 0.01em;
	margin-bottom: -30px;
}
#banner h2:before {
	top: 0;
	left: 0;
}

#banner h2:after {
	bottom: 0;
	right: 0;
}

#banner p {
	letter-spacing: 0.225em;
	text-transform: uppercase;
	margin-bottom: 60px;
}

	@media screen and (max-width: 736px) {
		#banner h1 {
			font-size: 4.5em;
			opacity: 1;
			margin-bottom: -40px;
			font-weight: 400;
			z-index: 9;
			font-family: "Times";
		}

		#banner h2 {
			display: inline-block;
			font-size: 1.68em;
			opacity: 1;
			position: relative;
			z-index: 9;
			font-weight: 300;
			font-family: "Times New Roman";
			letter-spacing: 0.01em;
			margin-bottom: -10px;
		}
		#banner p {
			font-size:0.8em;
			letter-spacing: 0.225em;
			text-transform: uppercase;
			margin-bottom: 60px;
		}
	}


#links
{
	position:relative;
	left:0;
	width:100%;
	text-align: center;
}
	@media screen and (max-width: 736px) {
		#links
		{
			position:relative;
			left:0;
			top:-30px;
			width:100%;
			text-align: center;
		}
	}

.icons {
	font-size: 1.25em;
}

.icons a {
	color: rgba(255, 255, 255, 0.5);
}

.icons a:hover {
	color: #fff;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0 !important;
}

ul.icons.major {
	padding: 1em 0;
}

ul.icons.major li {
	padding-right: 3.5em;
}

	@media screen and (max-width: 736px) {
		ul.icons.major li {
			padding: 0 1em !important;
		}
	}

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

